SWAPAY_API_KEY=replace_with_rotated_swapay_key
TOKEN_SECRET=replace_with_long_random_secret
SITE_ORIGIN=https://kudubooks.com
SWAPAY_BASE_URL=https://api.swa-pay.com
PRODUCT_FILE_BASE64=base64_encoded_xlsx_for_production
